* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.cardCourse {
  min-height: 100%
}


body {
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.30)), url("./Image/hp.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
 
}


h1 {
  color: white;
  font-family: "Parry Hotter";
}

#p1{
  color: white;
}



@font-face {
  font-family: "Parry Hotter";
  font-family: normal;
  font-weight: normal;
  src: local("Parry Hotter"), url("./fonts/parry-hotter.regular.ttf") format("truetype");
}





@font-face {
  font-family: "New";
  font-family: normal;
  font-weight: normal;
  src: local("New"), url("./fonts/Lumos-JRBj.ttf") format("truetype");
}



.loginbg {
  color: whitesmoke;
  height: 700px;
}



#productT{
  margin-top: 60px;
}

#regT{
  margin-top: 75px;
  margin-bottom: 30px;

}
#regibg{
  color: white;
   min-height: 40rem;

}


#AppNavbarT{
  font-family: "Parry Hotter";
  font-size: 40px;
  margin-left: 40px;
  color: black;
}


#navId{
  font-family: "New";
  color: bl;
  font-size: 20px;
}




#adminbg {
     min-height: 34rem;
}

#homebg{
  min-height: 50rem;
}

#dashboardB{
 margin-bottom: 30rem;
 margin-top: 40px;
 margin-left: 20px;
}

#adminT{
  margin-top: 20px;
}

#profileT{
  margin-top: 40px;
  min-height: 50rem;
}

#border{
   margin-right: 10rem;
   padding-left: 10rem;
   opacity: 80%;

}



#profbtn{
  margin-left: 35rem;
  margin-top: 20px;
}




#cardP1{
background:  url("./Image/d.jpg");
color: white;
opacity: 95%;
padding: 1rem;
text-shadow: -2px -1px black;


}

#cbg{
  
 margin-bottom: 30px;
}






#cardP3{
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.20)), url("./Image/hp2.jpg");
color: white;

}



#adminDash1{
width: 50rem;

}

#adminDash2{
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.20)), url("./Image/d.jpg");
color: white;

opacity: 95%;
text-shadow: -2px -1px black;

}




#btnProf{
  padding-right: 20.5rem;
  margin-left: 16rem;
  margin-bottom: 20px;
  margin-top: 20px;
   padding-left: 20.5rem;
}


#submitBtn1{
  margin-bottom: 35px;
}





#pView{
  margin-bottom: 30rem;


}

#pView2{
  margin-top: 5rem;

}











